<h4><i class="fas fa-info-circle"></i> Patient Information</h4>
<div *ngIf="patientInfo" style="width: 60%;">
    <!-- <div class="col-md-6" > -->
    <div class="flex-row">
        <div *ngIf="!coordinator || showDetails">
            <div id="name"><b>Name:</b> {{patientInfo.display}}</div>
        </div>
        <div *ngIf="!coordinator || showDetails">
            <div id="age"><b>Age/Sex:</b> {{patientInfo.birthdate}} {{patientInfo.gender}}</div>
        </div>
        <div *ngIf="!showDetails">
            <div id="openmrs-id"><b>OpenMRS ID:</b> {{patientInfo.patientIdentifier}}</div>
        </div>
    </div>
    <div class="flex-row">
        <div *ngIf="!coordinator || showDetails"><b>Address:</b> {{patientInfo.preferredAddress.cityVillage}}</div>
        <div *ngIf="!coordinator || showDetails"><b>Phone:</b> {{patientInfo.telephone}} | <span
                *ngIf="patientInfo.occupation"></span></div>
    </div>
</div>