<h4><i class="material-icons">contact_phone</i> Referral</h4>
<hr>
<div>
    <div *ngIf="!coordinator">
        <div class="referral-flex">
            <div style="margin-right: 10%">
                <h5>What is the follow-up regimen for this patient?</h5>
                <mat-radio-group aria-label="Select an option" class="radio-group" [value]="referralObs?.value"
                    [disabled]="referralObs?.value">
                    <mat-radio-button class="radio-button" value="Healthworker to follow up at patient’s home" (change)="onChangeHandler('healthworker', $event.value)">
                        Healthworker to follow up at patient’s home</mat-radio-button>
                    <mat-radio-button class="radio-button" value="Refer to base hospital" (change)="onChangeHandler('baseHospital', $event.value)">Refer to base hospital
                    </mat-radio-button>
                    <mat-radio-button class="radio-button"
                        value="Close visit and continue treatment regimen in community" (change)="onChangeHandler('referral', $event.value)">Close visit and continue
                        treatment regimen in community</mat-radio-button>
                    <mat-radio-button class="radio-button" value="No further care required" (change)="onChangeHandler('vistComplete', $event.value)">No further care required
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="referralObs?.value === 'Healthworker to follow up at patient’s home'">
                <h5>When should the healthworker follow up?</h5>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="days" aria-label="State" min="1" [(ngModel)]="referralTime" [disabled]="referralTimeObs.value"/>
                </mat-form-field>
                <!-- <span> days</span> -->
                <button mat-raised-button color="primary" (click)="save('referralTime')" [disabled]="!referralTime">Submit</button>
            </div>
        </div>

        <ng-container *ngIf="referralObs.value">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">{{referralObs.value}}</div>
                    <i (click)="delete('referral', referralObs.uuid)" class="material-icons float-right"
                        style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container>
        <ng-container *ngIf="referralTimeObs.value">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">On {{referralTimeObs.value | date: "dd-MMM-yyyy"}}</div>
                    <i (click)="delete('referralTime', referralTimeObs.uuid)" class="material-icons float-right"
                        style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container>

    </div>
    <div *ngIf="referral && coordinator">
        <ul>
            <li>Referral - {{referralObs?.value}} in {{referralTimeObs?.value}}</li>
        </ul>
    </div>
</div>