<div class="mt-50">
  <div class="container">
    <form [formGroup]="eyeCampForm" (ngSubmit)="Save()">
      <mat-card style="text-align: center;">
        <h4>AROMA Staff to Complete Top Section (OP #, Patient Name, Date, Location)</h4>
      </mat-card>
      <br />
      <div>
        <mat-card style="display: flex; justify-content: space-between;align-items: baseline;">
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" placeholder="Patient Eye Camp Id" matInput (keyup)="_filter($event.target.value)" [matAutocomplete]="auto" />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event.option.value)">
                <mat-option *ngFor="let option of filterData" [value]="option?.patient_uuid">
                  <p>
                    {{ option?.eye_camp_id?.value }} -
                    {{ option?.patient.person?.display }}
                  </p>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" placeholder="Patient Phone Number" matInput (keyup)="_filterPhone($event.target.value)" [matAutocomplete]="autophone" />
              <mat-autocomplete autoActiveFirstOption #autophone="matAutocomplete" (optionSelected)="selected($event.option.value)">
                <mat-option *ngFor="let option of filterDataPhone" [value]="option?.patient_uuid">
                  <p>{{ option?.phoneno?.value }}</p>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      <br />

      <mat-card style="text-align: center">
        <h4>Sister to Complete Middle Section (Visual Acuity)</h4>
      </mat-card>

      <br/>
      <div class="acuity-pinhole">
        <div style="width: 49%">
          <mat-card>
            <h5>Uncorrected Visual Acuity</h5>
            <div class="visual-acuity-wrapper">
              <div>
                <mat-radio-group class="radio-group" formControlName="accuityRight">
                  <mat-radio-button class="radio-button" *ngFor="let data of accuityandpinhole"
                    [value]="data.value">Right eye: {{ data.value }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <mat-radio-group class="radio-group" formControlName="accuityLeft">
                  <mat-radio-button class="radio-button" *ngFor="let data of accuityandpinhole"
                    [value]="data.value">Left eye: {{ data.value }}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-card>
        </div>
        <div style="width: 49%">
          <mat-card>
            <h5>Best-Corrected Visual Acuity</h5>
            <div class="visual-acuity-wrapper">
              <div>
                <mat-radio-group aria-label="Select an option" class="radio-group" formControlName="pinholeRight">
                  <mat-radio-button class="radio-button" *ngFor="let data of accuityandpinhole"
                    [value]="data.value">Right eye: {{ data.value }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <mat-radio-group class="radio-group" formControlName="pinholeLeft">
                  <mat-radio-button class="radio-button" *ngFor="let data of accuityandpinhole"
                    [value]="data.value">Left eye: {{ data.value }}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <br />

      <mat-card style="text-align: center;">
        <h4>Ophthalmologist to Complete Bottom Section (Complaint, Exam Findings, Referral)</h4>
      </mat-card>
      <br/>

      <div class="acuity-pinhole">
        <div style="width: 49%">
          <div>
            <mat-card>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ophthalmologist Name: </mat-label>
                <input matInput placeholder="Ophthalmologist Name" formControlName="ophthalmologist" />
              </mat-form-field>
            </mat-card>
          </div>
          <br/>
          <mat-card>
            <h5>Patient Complaint</h5>
            <div class="ft-13">
                <div class="patient-complaint-checkbox" *ngFor="let data of patientComplaint">
                  <mat-checkbox [checked]="eyeCampForm.get('complaintRight').value.includes(data.value)" (change)="onCheckChange($event, data.value, data.value === 'Other' ? true : false, 'complaintRight')">Right Eye</mat-checkbox>
                  <div>{{ data.value}}</div>
                  <mat-checkbox [checked]="eyeCampForm.get('complaintLeft').value.includes(data.value)" (change)="onCheckChange($event, data.value, data.value === 'Other' ? true : false, 'complaintLeft')">Left Eye</mat-checkbox>
                </div>
              <div style="display: flex; flex-direction: column;align-self: center;">
                <mat-form-field *ngIf="complaintRightShow">
                  <input matInput placeholder="Complaint Right Other"
                    (change)="onChangeHandler('complaintRightOther', $event.target.value)">
                </mat-form-field>
                <mat-form-field *ngIf="complaintLeftShow">
                  <input matInput placeholder="Complaint Left Other"
                    (change)="onChangeHandler('complaintLeftOther', $event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>

        
        <div style="width: 49%">
          <div>
            <mat-card>
              <h5>Lens Status</h5>  
              <div class="patient-complaint-checkbox ft-13"  >
                <mat-radio-group aria-label="Select an option" class="radio-group" formControlName="lensStatusRight">
                  <mat-radio-button class="radio-button" name="radio1" *ngFor="let data of lensStatus"
                    [value]="data.value">Right eye</mat-radio-button>
                </mat-radio-group>
                <div><div  *ngFor="let data of lensStatus" class="lens-status-checkbox-text">{{ data.value }}</div></div>
                <mat-radio-group class="radio-group" formControlName="lensStatusLeft">
                  <mat-radio-button class="radio-button" name="radio2" *ngFor="let data of lensStatus"
                    [value]="data.value">Left eye</mat-radio-button>
                </mat-radio-group>
            </div>
            </mat-card>
            <br/>
            <mat-card>
              <h5>Additional Diagnosis</h5>
              <div class="ft-13">
                <div class="patient-complaint-checkbox" *ngFor="let data of patientDiagnosis">
                  <mat-checkbox [checked]="eyeCampForm.get('diagnosisRight').value.includes(data.value)" (change)="onCheckChange($event, data.value, data.value === 'Other' ? true : false, 'diagnosisRight')">Right Eye</mat-checkbox>
                  <div>{{ data.value}}</div>
                  <mat-checkbox [checked]="eyeCampForm.get('diagnosisLeft').value.includes(data.value)" (change)="onCheckChange($event, data.value, data.value === 'Other' ? true : false, 'diagnosisLeft')">Left Eye</mat-checkbox>
                </div>
                <div style="display: flex; flex-direction: column;align-self: center;">
                  <mat-form-field *ngIf="diagnosisRightShow">
                    <input matInput placeholder="Diagnosis Right Other"
                      (change)="onChangeHandler('diagnosisRightOther', $event.target.value)">
                  </mat-form-field>
                  <mat-form-field *ngIf="diagnosisLeftShow">
                    <input matInput placeholder="Diagnosis Left Other"
                      (change)="onChangeHandler('diagnosisLeftOther', $event.target.value)">
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <br />
      <div class="acuity-pinhole">
        <div style="width: 49%">
          <mat-card>
            <h5>Referral</h5>
            <div class="visual-acuity-wrapper">
              <mat-radio-group aria-label="Select an option" class="radio-group" formControlName="referral">
                <mat-radio-button class="radio-button" value="Yes to Base Hospital">Yes to Base Hospital
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="Yes to Vision Center">Yes to Vision Center
                </mat-radio-button>
                <!-- <mat-radio-button class="radio-button" value="Yes to Eye Camp">Yes to Eye Camp</mat-radio-button> -->
                <mat-radio-button class="radio-button" value="No, do not refer">No, do not refer</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-card>
        </div>
        <div style="width: 49%">
          <mat-card>
            <h5>Is this referral urgent?</h5>
            <i>(Risk of developing new case of blindness if not treated within 7 days.)</i>
            <h6>If refer:</h6>
            <div class="visual-acuity-wrapper">
              <mat-radio-group aria-label="Select an option" class="radio-group" formControlName="referralTime">
                <mat-radio-button class="radio-button" value="Urgent referral">Urgent referral</mat-radio-button>
                <mat-radio-button class="radio-button" value="Non-urgent referral">Non-urgent referral</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-card>
        </div>
      </div>
      <br />
      <div style="text-align: center">
        <button mat-raised-button color="primary" [disabled]="!showSubmitButton">Submit</button>
      </div>
    </form>
  </div>
</div>